<style>

/* For Projects page */
.main.st-emotion-cache-uf99v8.ea3mdgi5 {
    text-align: justify;
}

/* First paragraph */
div:nth-child(3) div:nth-child(1) div:nth-child(1) p:nth-child(1) {
    background-color: #F5C7A9;
    border-radius: 1rem;
    padding: 1rem;
}

/* Indentation for analytics tools */
div[class='st-emotion-cache-5rimss e1nzilvr5'] ul {
    padding-left: 2.5rem
}

/* Text customization for project headers */
h3 a {
    text-decoration: none;
}

h3 a:hover {
    color: #000000;
    text-decoration: none;
}

</style>